{% extends "base.html" %}

{% block content %}

{% if object.id %}
<h1>Edit User</h1>
{% else %}
<h1>Add User<h1>
{% endif %}

<form action="{{ action }}" method="POST">
<!--<form action="{% url "users-new" %}" method="POST">-->
  {% csrf_token %}
{% if form.non_field_errors %}
<ul>
  {% for error in form.non_field_errors %}
  <li>
    {{ error }}
  </li>
  {% endfor %}
</ul>
{% endif %}
{% for field in form %}
<div id="{{ field.auto_id }}_container">
  {{ field.help_text }}
  <div>
    {{ field.label_tag }} {{ field }}
  </div>
  <div id="{{ field.auto_id }}_errors">
    {{ field.errors }}
  </div>
</div>
{% endfor %}

<!--  <ul>
      {{ form.as_ul }}
      </ul>
-->
<input id="save-user" type="submit" value="Save" />
</form>

{% if object.id %}
<div>
  <a href="{% url "users-edit" pk=object.id%}">
    Edit ...
  </a>
  <a href="{% url "users-delete" pk=object.id %}">
    Delete
  </a>
  <p>&nbsp; &nbsp; &nbsp;</p>
</div>
{% endif %}

<a href="{% url "users" %}">back to list</a>
{% endblock %}
